 body{
  font-family: arial;
  color:#b9b9b9;
  }
 
 h1 {
  font-size:60px;
 }

h3 {
  font-size: 25px;
  }

 #small-info{
  color:#b9b9b9;
  font-size: 15px;
 }

 p.art-info{
  font-size: 15px;
  color:black;
  }

 #footer{
  font-size:20px;
  color:black;
  }

