body{
  color: white;
}

.container {
  background-color: #000000;
  width: 100%;
  margin: 0 auto;
}

header nav{
  text-align: right;
  padding: 1.9em 0;
}

header nav a{
  color: white;
  padding:  0 5px;
}

@media (max-width: 600px) {
  header nav, header h1 {
    text-align: center;
  }

  header nav {
    padding: 0;
  }
}

