h1,h2{
  display: inline-block;
  margin:0;
}

h1 {
  background-color: #bb141a;
  padding: 10px 4px 10px 120px;
}

.contain{
  margin-top:0px;

}

.logo_flag{
  width: 10%;
  color:white;
  padding: 0px 20px 0px 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

body{
  font-family: helvetica;
  font-size: 20px;
}

.hero{
  display: inline-block;
  height: 100px;
  width: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero img{
  height: auto;
  width: 100%;
}

.content{
  padding: 20px 300px 20px 300px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}