
html{
  font-family: 'Oswald' , sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

div.header {
  background-color: black;
  padding: 0 0 0 5px;
  margin: 0;
  border-bottom: solid yellow;
}

header nav{
  text-align: right;
  padding: 0;
}

h1{
  color: yellow;
  padding-left: 20px;
  font-size: 30px;
  padding-top: 30px;
  margin-top: 0;
}

h1,h2 {
  font-family: "Merriweather", serif;
}

h2 {
  font-style: italic;
}


header nav a{
  padding:0 5px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0;
}

#line{
  text-decoration: line-through;
  color: #808080;
}
#under-line{
  border-bottom: solid yellow;
}

section h2{
  background-color: #C6C6C6;
  text-align: center;
  padding: 20px 20px;
  margin: 0;
}

div.cover-photo {
    height: 380px;
    background-image: url(../img/coworking.jpg);
    background-size: cover;
    background-position: center   
  }

div.box {
  background-color: #ffffff;
  background:rgba(255,255,255, 0.8);
  box-shadow: 0 0 5px black;
  float: right;
  width: 300px;
  padding: 10px 60px 20px 60px;
  margin: 40px 10px 10px 10px;
  font-family: "Source Sans Pro", sans-serif;
}

h4{
  font-style: 700;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 30px;
}

.box >p{
    font-style: 400;
    font-size: 15px;
    line-height: 20px;
}

.button{
  font-family: "Oswald", sans-serif;
  font-style: 700;
  color: black;
  background-color: yellow;
  width: 90%;
  padding: 15px 20px 15px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 2px #888888;
  border-radius: 5px;

}

